.carousel-item{
    height: 600px;
}
.carousel-img1{
    background-image: url('https://images.unsplash.com/photo-1516815231560-8f41ec531527?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80');
    background-color: black;
    background-size: cover;
}
.carousel-img2{
    background-image: url('images/img2.jpg');
    background-color: black;
    background-size: cover;
}
.carousel-img3{
    background-image: url('images/img3.jpg');
    background-color: black;
    background-size: cover;
}
.display-3{
    padding-bottom: 40px;
}
.lead{
    padding-bottom: 20px;
}
.btn{
    margin-bottom: 20px;
}